{
  "attributes": [
    {
      "trait_type": "Round",
      "value": "Pre-Seed"
    }
  ],
  "description": "A Lucite Deal Gift commemorating an investor's journey along with us at Guild",
  "image": "https://ipfs.io/ipfs/QmUPqNRJepN4nvap3qRHHine68KBkt8aqPF2ukEpirMJEG",
  "name": "Guild Lucite",
  "tokenId": 1337
}
